@model GradeMaster

@{
    var errorMessage = TempData["ErrorMessage"] as string;
    Layout = "_Layout_Alt1";
}
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - Employee Management System</title>
    <link rel="stylesheet" href="~/css/bootstrap.min.css" />
    <script src="/js/site.js"></script>
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css" />

    </head>
    <body>
    @if (TempData["ErrorMessage"] != null)
    {
        <div class="alert alert-danger">
            @TempData["ErrorMessage"]
        </div>
    }

    @if (TempData["success"] != null)
    {
        <div class="alert alert-success">
            @TempData["success"]
        </div>
    }

    @if (TempData["warning"] != null)
    {
        <div class="alert alert-warning">
            @TempData["warning"]
        </div>
    }
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <h2 class="text-uppercase text-center"> Create grade </h2>
            </div>
        </div>
        <div class="row">
            <div class="col-md-12 border-1 border">
                <form method="post" asp-action="Create" enctype="application/x-www-form-urlencoded">
                    <div class="mb-3">
                        <label asp-for="@Model.Grade_Code" class="form-label"></label>
                        <input asp-for="@Model.Grade_Code" class="form-control" />
                        <span asp-validation-for="@Model.Grade_Code" class="text-danger"></span>
                    </div>
                    <div class="mb-3">
                        <label asp-for="@Model.Description" class="form-label"></label>
                        <input asp-for="@Model.Description" class="form-control" />
                        <span asp-validation-for="@Model.Description" class="text-danger"></span>
                    </div>
                    <div class="mb-3">
                        <label asp-for="@Model.Min_Salary" class="form-label"></label>
                        <input asp-for="@Model.Min_Salary" class="form-control" />
                        <span asp-validation-for="@Model.Min_Salary" class="text-danger"></span>
                    </div>
                    <div class="mb-3">
                        <label asp-for="@Model.Max_Salary" class="form-label"></label>
                        <input asp-for="@Model.Max_Salary" class="form-control" />
                        <span asp-validation-for="@Model.Max_Salary" class="text-danger"></span>
                    </div>
                    <div class="mb-3">
                        <a asp-controller="GradeMaster" asp-action="GetGrade" class="btn btn-danger">Back</a>
                        <button type="submit" class="btn btn-success">Create</button>
                    </div>
                </form>
            </div>

        </div>
    </div>

    @section Scripts {
        <partial name="_ValidationScriptsPartial" />
    }

    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dis<a href=" c:\users\ashreddy\documents\team_04\ems\sprint_sol1\sprint_sol1\views\home\contact.cshtml">c:\users\ashreddy\documents\team_04\ems\sprint_sol1\sprint_sol1\views\home\contact.cshtml</a>t/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    </body>
</html>

