@model Employee
@{
    var errorMessage = TempData["ErrorMessage"] as string;
    Layout = "_Layout_Alt1";
}



 
@* @if (!string.IsNullOrEmpty(errorMessage))
{
<div class="alert alert-danger alert-dismissible fade show" role="alert">
        @errorMessage
<button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
</div>
} *@






<html>
    <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - Employee Management System</title>
    <link rel="stylesheet" href="~/css/bootstrap.min.css" />
    <script src="/js/site.js"></script>
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css" />
    </head>
<body>
    @if (!string.IsNullOrEmpty(errorMessage))
    {
        <div class="alert alert-danger alert-dismissible fade show" role="alert">
            @errorMessage
            <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
        </div>
    }


    @if (TempData["ErrorMessage"] != null)
    {
        <div class="alert alert-danger">
            @TempData["ErrorMessage"]
        </div>
    }

    @if (TempData["success"] != null)
    {
        <div class="alert alert-success">
            @TempData["success"]
        </div>
    }

    @if (TempData["warning"] != null)
    {
        <div class="alert alert-warning">
            @TempData["warning"]
        </div>
    }







    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <h2 class="text-uppercase text-center"> Create Employee </h2>
            </div>
        </div>
        <div class="row">
            <div class="col-md-12 border-1 border">
                <form method="post" asp-action="Create" enctype="application/x-www-form-urlencoded">
                    <div class="mb-3">
                        <label asp-for="@Model.Emp_ID" class="form-label"></label>
                        <input asp-for="@Model.Emp_ID" class="form-control" />
                        <span asp-validation-for="@Model.Emp_ID" class="text-danger"></span>
                    </div>
                    <div class="mb-3">
                        <label asp-for="@Model.Emp_First_Name" class="form-label"></label>
                        <input asp-for="@Model.Emp_First_Name" class="form-control" />
                        <span asp-validation-for="@Model.Emp_First_Name" class="text-danger"></span>
                    </div>
                    <div class="mb-3">
                        <label asp-for="@Model.Emp_Last_Name" class="form-label"></label>
                        <input asp-for="@Model.Emp_Last_Name" class="form-control" />
                        <span asp-validation-for="@Model.Emp_Last_Name" class="text-danger"></span>
                    </div>
                    <div class="mb-3">
                        <label asp-for="@Model.Emp_Date_of_Birth" class="form-label"></label>
                        <input asp-for="@Model.Emp_Date_of_Birth" class="form-control" />
                        <span asp-validation-for="@Model.Emp_Date_of_Birth" class="text-danger"></span>
                    </div>
                    <div class="mb-3">
                        <label asp-for="@Model.Emp_Date_of_Joining" class="form-label"></label>
                        <input asp-for="Emp_Date_of_Joining" class="form-control" type="date" max="@DateTime.Now.ToString("yyyy-MM-dd")" />
                        <span asp-validation-for="@Model.Emp_Date_of_Joining" class="text-danger"></span>
                    </div>
                    <div class="mb-3">
                        <label asp-for="@Model.Emp_Dept_ID" class="form-label"></label>
                        <input asp-for="@Model.Emp_Dept_ID" class="form-control" />
                        <span asp-validation-for="@Model.Emp_Dept_ID" class="text-danger"></span>
                    </div>
                    <div class="mb-3">
                        <label asp-for="@Model.Emp_Grade" class="form-label"></label>
                        <input asp-for="@Model.Emp_Grade" class="form-control" />
                        <span asp-validation-for="@Model.Emp_Grade" class="text-danger"></span>
                    </div>
                    <div class="mb-3">
                        <label asp-for="@Model.Emp_Designation" class="form-label"></label>
                        <input asp-for="@Model.Emp_Designation" class="form-control" />
                        <span asp-validation-for="@Model.Emp_Designation" class="text-danger"></span>
                    </div>
                    <div class="mb-3">
                        <label asp-for="@Model.Emp_Basic" class="form-label"></label>
                        <input asp-for="@Model.Emp_Basic" class="form-control" />
                        <span asp-validation-for="@Model.Emp_Basic" class="text-danger"></span>
                    </div>
                    <div class="mb-3">
                        <label asp-for="@Model.Emp_Gender" class="form-label"></label>
                        <input asp-for="@Model.Emp_Gender" class="form-control" />
                        <span asp-validation-for="@Model.Emp_Gender" class="text-danger"></span>
                    </div>
                    <div class="mb-3">
                        <label asp-for="@Model.Emp_Marital_Status" class="form-label"></label>
                        <input asp-for="@Model.Emp_Marital_Status" class="form-control" />
                        <span asp-validation-for="@Model.Emp_Marital_Status" class="text-danger"></span>
                    </div>
                    <div class="mb-3">
                        <label asp-for="@Model.Emp_Home_Address" class="form-label"></label>
                        <input asp-for="@Model.Emp_Home_Address" class="form-control" />
                        <span asp-validation-for="@Model.Emp_Home_Address" class="text-danger"></span>
                    </div>
                    <div class="mb-3">
                        <label asp-for="@Model.Emp_Contact_Num" class="form-label"></label>
                        <input asp-for="@Model.Emp_Contact_Num" class="form-control" />
                        <span asp-validation-for="@Model.Emp_Contact_Num" class="text-danger"></span>
                    </div>


                    <div>
                        <a asp-controller="Employee" asp-action="GetEmp" class="btn btn-danger">Back</a>
                        <button type="submit" class="btn btn-success">Create</button>
                    </div>

                </form>
            </div>

        </div>
    </div>
    @section Scripts {
        <partial name="_ValidationScriptsPartial" />
    }
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
 </body>
</html>



